<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161260239996-cks9d1mkjee2piatn6m6p94fb4b817cg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161260239996-cks9d1mkjee2piatn6m6p94fb4b817cg</string>
	<key>API_KEY</key>
	<string>AIzaSyBTu1FUW9qfchIoOOIOvhhdknCGlKMks1M</string>
	<key>GCM_SENDER_ID</key>
	<string>161260239996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>droski.LitBase</string>
	<key>PROJECT_ID</key>
	<string>litbase-bcfa4</string>
	<key>STORAGE_BUCKET</key>
	<string>litbase-bcfa4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161260239996:ios:bd43259a9335a2489bddf9</string>
</dict>
</plist>